<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Booking Requested</h1>
        <p> Your Booking has been Requested! </p>
        <p> Please wait for a confirmation Email. </p>
         <div>
            <a href = '/spaces'> Continue Browsing </a>
        </div>  
    </body>
</html>