<!DOCTYPE html>
<html>
    <head>
        <title>Host Portal</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Host Portal</h1>
        <p></p>

        <li>
        <a href = '/list_space'> Add a listing </a>
        </li>
        
        <li>
        <a href = '/host_listings'> View my listings </a>
        </li>
        
    </body>
</html>
