<!DOCTYPE html>
<html>
    <head>
        <title>Host Portal</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Host Portal</h1>
        <p></p>
        # Buttons for
        # Add a listing
        <a href = '/list_space'> Add a listing </a>
        
        # View all my listings 
        <a href = '/host_listings'> View my listings </a>
        # View all requests
        
    </body>
</html>
