
<!DOCTYPE html>
<html>
  <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" src="/style.css" >
  </head>
  <body>
    <form method="post" action="/space">
      <h1>List a space</h1>
      <input type="text" name="name" />
      <br>
      <input type="text" name="description" />
      <br>
      <input type="text" name="price" />
      <br>
      <input type="submit" value="List space" />
    </form>
  </body>
</html>