<!DOCTYPE html>
<html>
  <head>
      <title>List a space - MakersBnB</title>
      <link rel="stylesheet" href="/style.css" >
  </head>
  <body>
      <form method="post" action="/list_space">

        <h1>List a space</h1>
        <p>
          <div>
            <label>Name:</label>
            <input type="text" name="name" />
          </div>
        </p> 

        <p>
          <div>
            <label>Description:</label>
            <input type="text" name="description" />
          </div>
        </p> 

        <p>
          <div>
            <label>Price:</label>
            <input type="text" name="price" />
          </div>
        </p>

        <p>
          <div>
            <input type="submit" value="List space" />
          </div>
        </p>

    </form>
  </body>
</html>
