<form method="post" action="/space">
  <h1>List a space</h1>
  <input type="text" name="name" />
  <br>
  <input type="text" name="description" />
  <br>
  <input type="text" name="price" />
  <br>
  <input type="submit" value="List space" />
</form>