<!DOCTYPE html>
<html>
    <head>
        <title>Space added - MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
    <h1>Space added</h1>
      <p>
        <label> Your listing has been added.<label>
      </p>
      <div>
        <a href = "/spaces"> Go Back to listings </a> 
      </div>
    </body>
</html> 